contourpy==1.2.0
cycler==0.12.1
fonttools==4.47.0
kiwisolver==1.4.5
matplotlib==3.8.2
numpy==1.26.2
opencv-contrib-python==4.8.1.78
opencv-python==4.8.1.78
packaging==23.2
pandas==2.1.4
Pillow==10.1.0
plotly==5.18.0
prettytable==3.9.0
pykitti==0.3.1
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
setuptools==68.2.2
six==1.16.0
tenacity==8.2.3
tzdata==2023.3
wcwidth==0.2.13
wheel==0.41.2
